nav{
    background: rgba(0, 0, 0,0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter:blur(15px);
    margin-left: 60rem;
}

nav a{
    background: transparent;
    padding: 0.8rem;
    border-radius: 50%;
    display: flex;
    color: #fff;
    font-size: 1.1rem;
}

nav a:hover{
    background-color: rgba(0, 0, 0,0.4);
}

nav a.active{
    background: var(--color-primary);
    color: var(--color-bg);
}



@media screen and (max-width:1024px) {

nav{
    margin-left:100rem;
}
    
    }
    
    
    
    
    /* =========== media queries (medium devices) ============ */
    
    @media screen and (max-width:600px) {
  
   
    }




    /* "gh-pages": "^4.0.0" */